# Python virtual environment
.venv/

# VSCode settings
.vscode/

# ROS2 build artifacts 
build/
install/
log/

# Datasets
cardbox_dataset/ 

# Files
thesis_progress_plan_execution.txt
draft.txt

#Scripts
char_count.py
